.bgimg {
  background-image: url("https://movies-review-six.vercel.app/static/media/i1.24ed5e206f281b3e3dca.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  padding: 40px;
}


.title {
  color: white;
  text-align: left;
  margin-bottom: 40px;
  font-weight: bold;
}

.slct{
    margin: 10px;
    width: 130px;
    
}
